.title {
    width: 10000 px;
    height: 10000 px;
    background-color: gray;
    margin: 100 px;
    text-align: center;
    font-size: 140px;
    font: Arial;
}
h2 {
    text-align: left;
    color: gray;
    text-decoration: none;
    font: Arial;
}
.box {
    align-items: end;
    margin: 100px;
    width: 300px;
    height: 450px;
    background-color: gray;
    display: inline-block;
}
.style{
    display: inline-block;
}
.square{
    height:400px;
    width: 155px;
    display:inline-block;
}
.sidenav{
    height: 400px; 
    width: 160px; 
    position:fixed;
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: gray;
    overflow-x: hidden; 
    padding-top: 20px;
    font-size: larger;
}
.tinysquare {
    height:40px;
    width:250px;
    display: inline-block;
}